@media screen and (max-width:670px) {

    .c-header {
        width: 100%;
    }

    .header-menus {
        display:none;
    }

    .fa-solid {
        padding:0px 10px 0px 0px;
    }

    .container{
        width: 100%;
    }

    aside {
        display:none;
        width:0%;
    }

    main {
        width:100%;
        padding-left:0px;
    }

    .sec_inner_1 {
        width:100%;
        height:auto;
        margin-top:5px;
        margin-bottom:-120px;
    }

    .sp-category {
        display:block;
        font-size:0px;
    }

    .sp-category a {
        display:inline-block;
        width:50%;
        text-align:center;
        border:1px solid #c0c0c0;
        background-color:#f5f5f5;
    }
    


    
    
    
   
}
