@media screen and (max-width:670px) {
   .header-menus {
       display:none;
   }

   .header-menu {
       display:none;
   }

   .header-icons {
    padding:0px;
   }

    .fa-solid {
     margin-left:10px;
    }

}
