@media screen and (max-width:670px) {

    .c-header {
        width: 100%;
    }

    .header-menus {
        display:none;
    }

    .fa-solid {
        padding:0px 5px 0px 0px;
    }

    .container{
        width: 100%;
    }

    aside {
        width:0%;
    }

    main {
        width:100%;
        padding-left:0px;
    }


    
    
    
   
}
