* {
    box-sizing:border-box;
    }
    
    body {
        font-family: "Hiragino Sans",sans-serif;
        margin:0;
        color:#434343
    }

    header {
        border-top: 1px solid #C8DAF9;
        border-bottom: 1px solid #C8DAF9;
        background-color:#fff;
        height:50px;
    }

    .c-header {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        line-height: 50px;
        padding:0px;
    }

    .header-site-name {
        float:left;
    }

    .header-site-name:hover {
        cursor:pointer;
    }

    .header-site-name img {
        width:30%;
    }

    .header-menus {
        float:left;
    }

    .header-menu {
        padding: 0px 20px;
        font-size:12px;
    }

    .header-menu:hover {
        cursor:pointer;
        text-decoration: underline;
    }

    .header-icons {
        float: right;
    }

    .fa-solid {
        padding:10px;
    }

    .fa-solid:hover {
        cursor:pointer;
    }
    
    .container{
        width: 80%;
        max-width:1000px;
        margin:0 auto;
        display: flex;
    }

    aside {
        flex: 1;
    }

    main {
        flex: 3;
        padding-left:25px;
    }

    .sidemenu-item {
       
        width:210px;
    }

    .sidemenu-title {
        border-bottom:1px solid #434343;
        padding:5px 0px;
    }

    aside li {
        list-style: none;
        margin-left:-40px;
        font-size:12px;
        height:40px;
        line-height:40px;
        border-bottom:1px solid #f5f5f5;
    }

    aside li:hover {
        cursor:pointer;
        opacity:0.6;
    }

    .sec_inner_1 {
        width:720px;
        height:auto;
        margin-top:5px;
        margin-bottom:-120px;
    }
    
    .slider-img-1{
        width:100%;
    }

    .slider-img-1:hover {
        cursor: pointer;
        opacity:0.5;
    }

    .slider-1 .slick-next{
        right:0!important;
    }

    .slider-1 .slick-prev{
        left:0!important;
    }

    .slider-1 .slick-arrow{
        width: initial!important;
        height: initial!important;
        z-index:2!important;
    }

    .slider-1 .slick-arrow:before{
        font-size: 30px!important;
    }

    .slider-1 .slick-slide{
        height:auto;
    }

    .h2-newitem {
        margin-top:240px;
        font-size:20px;
        text-align: center;
        padding-bottom:5px;
        border-bottom:1px solid #C8DAF9;
        font-weight: normal;
    }

    h2 {
        margin-top:100px;
        font-size:20px;
        text-align: center;
        padding-bottom:5px;
        border-bottom:1px solid #C8DAF9;
        font-weight: normal;
    }

    .newitem {
        float:left;
        width:20%;
        text-align:center;
    }

    .newitem:hover {
        cursor:pointer;
        opacity:0.6;
    }

    .newitem img {
        width:80%;
    }

    .newitem p {
        width:80%;
        margin:0 auto;
        font-size:12px;
        padding:10px 0px;
    }

    .clear {
        clear:left;
    }

    .more {
        margin-top:70px;
        text-align:center;
    }

    .more a {
        display:inline-block;
        font-size:14px;
        padding:10px 30px;
        border:1px solid #434343;
    }

    .more a:hover {
        cursor:pointer;
        background-color:#434343;
        color:#fff;
    }

    .ranking {
        list-style: none;
        counter-reset: rank;
        margin:0 auto;
        text-align:center;
        margin-left:-15px;    
      }
    
    .ranking li {
        position: relative;
      }
       
    .ranking li:not(:last-child) {
        margin-bottom: 20px;
      }
       
    .ranking li::before { /* ラベルと順位のスタイル */
        counter-increment: rank;
        content: counter(rank) "";
        position: absolute;
        padding: 6px 10px;
        font-size: 10px;
        color: #fff; /* 文字色 */
        border-radius:50%;
        text-align: center;
      }

    .ranking-item {
        width:20%;
        float:left;
    }

    .ranking-item:hover {
        cursor:pointer;
        opacity:0.6;
    }
    
    .ranking-item img {
        width:116px;
        height:128px;
    }
    
    .ranking-item p{
        width:80%;
        margin:0 auto;
        text-align:center;
        font-size:12px;
        padding:5px 0px;
    }
    
    .ranking li:nth-child(1)::before { 
        background-color: #D6A324;
      }
    
    .ranking li:nth-child(2)::before { 
        background-color:#C0C0C0;
      }
    
    .ranking li:nth-child(3)::before { 
        background-color:#C07022;
      }
    
    .ranking li:nth-child(4)::before { 
        background-color:#5C5C5C;
      }
    
    .ranking li:nth-child(5)::before { 
        background-color:#5C5C5C;
      }
    
    .trendword a {
        display: inline-block;
        font-size:12px;
        border:1px solid #c0c0c0;
        padding:5px 10px;
        margin:5px;
        border-radius:10%;
    }

    .trendword a:hover {
        cursor:pointer;
        text-decoration: underline;
    }

    .news {
        display:flex;
        float:left;
        width:50%;
        padding:10px 0px;
        border-bottom:1px solid #f5f5f5;
    }

    .news p {
        font-size:12px;
        padding:0px 10px;
    }

    .news img {
        width:50%;
    }

    .news:hover {
        cursor:pointer;
        opacity:0.6;
    }

    footer {
        margin-top:70px;
        border-top: 1px solid #C8DAF9;
        border-bottom: 1px solid #C8DAF9;
    }

    .c-footer {
        max-width:1000px;
        width:80%;
        margin:0 auto;
        text-align:center;
    }

    .footer-category {
        float:left;
        width:25%;
    }

    .footer-title {
        font-size:16px;
    }

    .footer-item li {
        list-style: none;
        margin-left:-40px;
        font-size:12px;
        height:30px;
        line-height:30px;
    }

    .footer-item li:hover {
        cursor:pointer;
        text-decoration: underline;
    }

    /* SP */
    .sp-category {
        display:none;
    }

    .sp-c-footer {
        display:none;
    }

    .sp-footer-category {
        display:none;
    }

    .sp-footer-item {
        display:none;
    }

    .sp-footer-title {
        display:none;
    }


    

    
